:root {
  --brand-primary: #0095DA;
}

/* HACK until release: https://github.com/ember-learn/ember-cli-addon-docs/issues/407 */

.docs-bg-brand {
  background-color: #0095DA !important;
}

.docs-text-brand {
  color: #0095DA !important;
}
